.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0px 1px 6px 3px #007acd24;
  box-sizing: border-box;
  min-width: 30%;

  @media screen and (max-width: 500px) {
    padding: 5rem 1rem;
    width: 100%;
  }
  .title {
    text-align: center;
    font-size: 2rem;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      opacity: 0.9;
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
  }
}
