.form-input {
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}
